.collection-container{
    margin: auto;
    width: 80%;
}
.order{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}
.item1{
    width: 270px;
    height: 320px;
    border: solid 1px black;
    border-radius: 15px;
}
.item2{
    width: 270px;
    height: 320px;
    border: solid 1px black;
    border-radius: 15px;
}
.item3{
    width: 270px;
    height: 320px;
    border: solid 1px black;
    border-radius: 15px;
}
.item4{
    width: 270px;
    height: 320px;
    border: solid 1px black;
    border-radius: 15px;
}
.img{
    margin: 10px 0px 0px 60px;
}
.details{
    margin: 0px 0px 0px 100px;
}